.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
/venv
pip-selfcheck.json
/api/authentication/__pycache__
/api/authentication/migrations/__pycache__
/api/api/__pycache__
/api/crop_data/__pycache__
/api/crop_data/migrations/__pycache__
/api/fertilizer_data/__pycache__
/api/fertilizer_data/migrations/__pycache__
/api/yeild/__pycache__
/api/yeild/migrations/__pycache__
/web_03/node_modules
/web_03/node_modules
